apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend-blue   # Will switch to backend-green during rollout
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
