name: CI/CD Pipeline - Flask + React Full Stack

on:
  push:
    branches:
     - main
    paths:
      - 'frontend/**'
      - 'backend/**'

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

  
    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

 
    - name: Login to Azure Container Registry
      run: az acr login --name ${{ secrets.ACR_NAME }}

  
    - name: Build Docker Images (Frontend + Backend)
      run: |
       docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/react-frontend:latest ./frontend
       docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/flask-backend:latest ./backend

    - name: Push Docker Images (Frontend + Backend)
      run: |
        docker push ${{ secrets.ACR_NAME }}.azurecr.io/react-frontend:latest
        docker push ${{ secrets.ACR_NAME }}.azurecr.io/flask-backend:latest


    - name: Run Trivy Image Scan (Backend)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.ACR_NAME }}.azurecr.io/flask-backend:latest
        format: 'table'
        exit-code: '1'
        severity: 'CRITICAL'
        ignore-unfixed: true
        vuln-type: 'os,library'

    - name: Run Trivy Image Scan (Frontend)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.ACR_NAME }}.azurecr.io/react-frontend:latest
        format: 'table'
        exit-code: '1'
        severity: 'CRITICAL'
        ignore-unfixed: true
        vuln-type: 'os,library'

    - name: Get AKS Credentials
      run: |
        az aks get-credentials --resource-group ${{ secrets.AKS_RESOURCE_GROUP }} --name ${{ secrets.AKS_CLUSTER_NAME }} --overwrite-existing

    - name: Deploy to AKS (Blue-Green)
      run: |
        kubectl apply -f kubernetes/backend-service.yaml
        kubectl apply -f kubernetes/frontend-service.yaml
        kubectl apply -f kubernetes/backend-deploy-blue.yaml
        kubectl apply -f kubernetes/frontend-deploy-blue.yaml

        # Create temporary green deployments
        kubectl apply -f kubernetes/backend-deploy-green.yaml
        kubectl apply -f kubernetes/frontend-deploy-green.yaml


        kubectl rollout status deployment/backend-green --timeout=120s || exit 1
        kubectl rollout status deployment/frontend-green --timeout=120s || exit 1

      
    - name: test and rollback 
      run: |
          if curl -f --max-time 5 http://backend-service/api/items; then
            kubectl patch service backend-service -p '{"spec": {"selector": {"app": "backend-green"}}}'
            kubectl patch service frontend-service -p '{"spec": {"selector": {"app": "frontend-green"}}}'
          else 
            kubectl patch service backend-service -p '{"spec": {"selector": {"app": "backend-blue"}}}'
            kubectl patch service frontend-service -p '{"spec": {"selector": {"app": "frontend-blue"}}}'
          fi

        # Cleanup old blue deployments
        #kubectl delete deployment backend-blue || true
        #kubectl delete deployment frontend-blue || true



