name: CI/CD Pipeline - Flask + React Full Stack

on:
  push:
    branches:
     - dev1

env:
  ACR_NAME: ${{ secrets.ACR_NAME }}
  AKS_RESOURCE_GROUP: ${{ secrets.AKS_RESOURCE_GROUP }}
  AKS_CLUSTER_NAME: ${{ secrets.AKS_CLUSTER_NAME }}

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    # -------------------------
    # 1️ Checkout Code
    # -------------------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # -------------------------
    # 2️ Login to Azure
    # -------------------------
    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # -------------------------
    # 3️ Login to ACR
    # -------------------------
    - name: Login to Azure Container Registry
      run: az acr login --name ${{ env.ACR_NAME }}

    # 4️ Build and Push Docker Images (Frontend + Backend)
    # -----------------------------------------------------
    - name: Build Docker Images (Frontend + Backend)
      run: |
       docker build -t ${{ env.ACR_NAME }}.azurecr.io/react-frontend:latest ./frontend
       docker build -t ${{ env.ACR_NAME }}.azurecr.io/flask-backend:latest ./backend

    - name: Push Docker Images (Frontend + Backend)
      run: |
        docker push ${{ env.ACR_NAME }}.azurecr.io/react-frontend:latest
        docker push ${{ env.ACR_NAME }}.azurecr.io/flask-backend:latest

    # -------------------------
    # 5️ Security Scan with Trivy
    # -------------------------
    - name: Run Trivy Image Scan (Backend)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ env.ACR_NAME }}.azurecr.io/flask-backend:latest
        format: 'table'
        exit-code: '1'
        severity: 'CRITICAL'
        ignore-unfixed: true
        vuln-type: 'os,library'
      env:
        TRIVY_PLATFORM: linux/arm64

    - name: Run Trivy Image Scan (Frontend)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ env.ACR_NAME }}.azurecr.io/react-frontend:latest
        format: 'table'
        exit-code: '1'
        severity: 'CRITICAL'
        ignore-unfixed: true
        vuln-type: 'os,library'
      env:
       TRIVY_PLATFORM: linux/arm64



    # -------------------------
    # 7 Connect to AKS
    # -------------------------
    - name: Get AKS Credentials
      run: |
        az aks get-credentials --resource-group ${{ env.AKS_RESOURCE_GROUP }} --name ${{ env.AKS_CLUSTER_NAME }} --overwrite-existing

    # -------------------------
    # 8 Deployment
    # -------------------------
    - name: Deploy to AKS (Blue-Green)
      run: |
        kubectl apply -f kubernetes/backend-service.yaml
        kubectl apply -f kubernetes/backend-deploy-blue.yaml
        kubectl apply -f kubernetes/frontend-service.yaml
        kubectl apply -f kubernetes/frontend-deploy-blue.yaml

        # Create temporary green deployments
        #kubectl apply -f k8s/backend-deploy-green.yaml
        #kubectl apply -f k8s/frontend-deploy-green.yaml

        # Wait for rollout success
        #kubectl rollout status deployment/backend-green --timeout=120s || exit 1
        #kubectl rollout status deployment/frontend-green --timeout=120s || exit 1

        # Switch service to green
        #kubectl patch service backend-service -p '{"spec": {"selector": {"app": "backend-green"}}}'
        #kubectl patch service frontend-service -p '{"spec": {"selector": {"app": "frontend-green"}}}'

        # Cleanup old blue deployments
        #kubectl delete deployment backend-blue || true
        #kubectl delete deployment frontend-blue || true

        #echo "✅ Blue-Green deployment completed successfully."

